<div>
  <form action="" class="sign_in_form form" [formGroup]="signInForm">
    <div class="heading">SIGN IN</div>
    <div class="wrap_input">
      <!-- <img src="../../../assets/img/user.png"> -->
      <div *ngIf="_email.invalid && (_email.touched || _email.dirty)">
        <span
          *ngIf="_email.errors?.required || _email.errors?.email"
          class="error"
          >*</span
        >
      </div>

      <input
        type="text"
        placeholder="Tupe your email"
        id=""
        formControlName="email"
      />
    </div>
    <div class="wrap_input">
      <!-- <img src="../../../assets/img/unlock.png"> -->
      <div *ngIf="_password.invalid && (_password.touched || _password.dirty)">
        <span *ngIf="_password.errors?.required" class="error">*</span>
      </div>
      <input
        type="password"
        placeholder="Tupe your password"
        id=""
        formControlName="password"
      />
    </div>
    <button
      class="form_btn"
      [disabled]="!signInForm.valid"
      (click)="onSubmitForm()"
    >
      Отправить
    </button>
  </form>
</div>
