body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.btn {
    border: none;
        background-color: white;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        font-weight: bold;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        color: #9E9E9E;
        transition:  1s ;
        &:hover {
            width: 100%;
            transition:  1s;
            color: black;
        }
}
//---------form------------
.form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 20px;
    background: #9C27B0;
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    margin: auto;
    .heading  {
        margin: auto;
        padding: 16px;    
    }
    .wrap_input {
        margin-top: 20px;
        display: flex;
        position: relative;
        img {
            bottom: 0px;
            position: absolute;
        }
        input {
            padding: 10px;
            border: none;
            border-bottom: 2px solid #9E9E9E;
            background: none;
            margin-left: 44px;
            outline: none;
            color: white;
            width: 100%;
            box-sizing: border-box;
            &:focus {
                border-bottom: 2px solid white;
                transition:  1s;
            }
            &::placeholder {
                color: white;
            }
        }
    }
    .form_btn {
        border: none;
        background-color: white;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        font-weight: bold;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        color: #9E9E9E;
        transition:  1s ;
        &:hover {
            width: 100%;
            transition:  1s;
            color: black;
        }
    }
}
//---------------------